{{#if mixFinal}}
{{#each file in files}}
  {{#if file.isAcceptedMix}}
    <div class="final-mix-section">
      <h3>
        <span {{action playFinalMix file.id}} class="final-mix-play-button icon-play-2" title="play final mix"></span>
        <span {{action pauseFinalMix file.id}} class="final-mix-pause-button icon-pause-2" title="pause final mix"></span> 
        {{finalMixAudio file}}
        Final Mix    
        <small>mixed by {{file.user.name}}</small>
      </h3>
    </div>
  {{/if}}
{{/each}}
{{/if}}