<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Recordinate</a>
      <ul class="nav">
        <li>{{#linkTo projects}} Browse {{/linkTo}}</li>
        {{#if App.me.content.firstName}}
        <li>{{#linkTo my-projects}}My Projects {{/linkTo}}</li>
        {{/if}}
      </ul>
      <ul class="nav  pull-right">
        {{#if App.me.content.firstName}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{App.me.content.firstName}} {{App.me.content.lastName}}
              <b class="caret" style="color:white"></b>
            </a>
            <ul class="dropdown-menu">
              <li>{{#linkTo create}}Create Project{{/linkTo}}</li>
              <li>{{#linkTo signout}}Sign out{{/linkTo}}</li>
            </ul>
          </li>
        {{else}}
          <li>{{#linkTo signin}}Sign In{{/linkTo}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
<div class="main container">{{outlet}}</div>