<div class="jumbotron">
  <h1>Open Source Music Project</h1>
  <div class="lead">The 1 Million Man Band</div>
  <a class="btn btn-large btn-primary" href="#/signup">Sign Up</a>
  <small> (its totally free!) </small>
</div>
