<div class="jumbotron">
  <h1>Recordinate</h1>
  <div class="lead">The Open Source Music Project</div>
  <a class="btn btn-large btn-primary" href="#/signup">Sign Up</a>
  <small> (its totally free!) </small>
</div>
