<div class="jumbotron">
  <div class="massive-icon icon-vocals"></div>
  <h1>Recordinate</h1>
  <div class="lead">The Open Source Music Project</div>
  <a class="btn btn-large btn-success" href="#/signup">Sign Up</a>
  <div class="coax">(its totally free!) </div>
  <div class="already">already a member?</div>
  <a class="btn btn-primary" href="#/signin">Sign In</a>
</div>
