<div class="row-fluid browse-header">
  <h2>All Projects</h2>
</div>
{{#view App.ProjectListView}}
  {{#each project in controller}}
  {{#unless project.isSetupMode}}  
    {{view App.ProjectListItemView contentBinding='project'}}
  {{/unless}}
  {{/each}}
{{/view}}
